:root {
  --primary: #101357;
  --light: #fea49f;
  --secondary: #fbaf08;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--primary);
  background: var(--light);
}

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 0 2rem;
}

header {
  margin-top: 2rem;
}

.break {
  display: none;
}
#timer {
  margin: 5rem;
  font-size: 5rem;
}

.buttons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  background: var(--primary);
  color: whitesmoke;
  border: 0;
}

.btn:hover {
  background: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

.records {
  margin: 5rem;
  font-size: 2rem;
}

#settings {
  margin-top: 1rem;
}
